<a href="https://colab.research.google.com/github/sklogesh1/python/blob/main/personal%20information.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name=(input("Enter your Name : "))
age=(input("Enter your Age : "))
address=(input("Enter your Address : "))
salary=(input("Enter your Salary : "))
no=(input("Enter your Mobile Number"))
print("NAME :",name)
print("\nAGE :",age)
print("\nADDRESS :",address)
print("\nSALARY :",salary)
print("\nMOBILE NUMBER :",no)

Enter your Name : Logesh N
Enter your Age : 19
Enter your Address : Pudhuchatram, Namakkal main road
Enter your Salary : 20,000
Enter your Mobile Number7339055427
NAME : Logesh N

AGE : 19

ADDRESS : Pudhuchatram, Namakkal main road

SALARY : 20,000

MOBILE NUMBER : 7339055427